test.json
{
  "Comment": "Replay ETL from DLQ with batching, tracking, and safeguards",
  "StartAt": "ReceiveFromDLQ",
  "States": {

    "ReceiveFromDLQ": {
      "Type": "Task",
      "Resource": "arn:aws:states:::aws-sdk:sqs:receiveMessage",
      "Parameters": {
        "QueueUrl": "https://sqs.ap-south-1.amazonaws.com/406868976171/sales-ingestion-dlq",
        "MaxNumberOfMessages": 10
      },
      "ResultPath": "$.dlq",
      "Next": "CheckIfEmpty"
    },

    "CheckIfEmpty": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.dlq.Messages",
          "IsPresent": false,
          "Next": "Success"
        }
      ],
      "Default": "ReplayBatch"
    },

    "ReplayBatch": {
      "Type": "Map",
      "ItemsPath": "$.dlq.Messages",
      "MaxConcurrency": 2,
      "Iterator": {

        "StartAt": "ExtractPayload",
        "States": {

          "ExtractPayload": {
            "Type": "Pass",
            "Parameters": {
              "receiptHandle.$": "$.ReceiptHandle",
              "body.$": "States.StringToJson($.Body)"
            },
            "ResultPath": "$.parsed",
            "Next": "ParseCause"
          },

          "ParseCause": {
            "Type": "Pass",
            "Parameters": {
              "receiptHandle.$": "$.parsed.receiptHandle",
              "cause.$": "States.StringToJson($.parsed.body.Cause)"
            },
            "ResultPath": "$.final",
            "Next": "CheckReplayCount"
          },

          "CheckReplayCount": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:getItem",
            "Parameters": {
              "TableName": "dlq_replay_tracking",
              "Key": {
                "object_key": {
                  "S.$": "$.final.cause.Arguments['--source_key']"
                }
              }
            },
            "ResultPath": "$.ddb",
            "Next": "ReplayLimitCheck"
          },

          "ReplayLimitCheck": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.ddb.Item.retry_count.N",
                "NumericGreaterThanEquals": 3,
                "Next": "SkipPoisonMessage"
              }
            ],
            "Default": "RunGlueJob"
          },

          "RunGlueJob": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
              "JobName": "ingest_sales_data",
              "Arguments": {
                "--source_bucket.$": "$.final.cause.Arguments['--source_bucket']",
                "--source_key.$": "$.final.cause.Arguments['--source_key']"
              }
            },
            "Retry": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "IntervalSeconds": 30,
                "MaxAttempts": 2,
                "BackoffRate": 2
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.ALL"],
                "Next": "UpdateRetryCount"
              }
            ],
            "Next": "DeleteMessage"
          },

          "UpdateRetryCount": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:dynamodb:updateItem",
            "Parameters": {
              "TableName": "dlq_replay_tracking",
              "Key": {
                "object_key": {
                  "S.$": "$.final.cause.Arguments['--source_key']"
                }
              },
              "UpdateExpression": "ADD retry_count :inc",
              "ExpressionAttributeValues": {
                ":inc": { "N": "1" }
              }
            },
            "Next": "FailState"
          },

          "DeleteMessage": {
            "Type": "Task",
            "Resource": "arn:aws:states:::aws-sdk:sqs:deleteMessage",
            "Parameters": {
              "QueueUrl": "https://sqs.ap-south-1.amazonaws.com/406868976171/sales-ingestion-dlq",
              "ReceiptHandle.$": "$.final.receiptHandle"
            },
            "Next": "SuccessState"
          },

          "SkipPoisonMessage": {
            "Type": "Pass",
            "Next": "SuccessState"
          },

          "FailState": {
            "Type": "Fail"
          },

          "SuccessState": {
            "Type": "Succeed"
          }

        }
      },
      "Next": "Success"
    },

    "Success": {
      "Type": "Succeed"
    }

  }
}